
@media (max-width: 1024px) {
    h1 {
    font-size: 4vh;
    transform: translateY(50%);
    }
   
    
  

} 


@media (max-width: 768px) {

/* Nav -Celular */
.geral {
    flex-direction: column;
    align-items: flex-start;
    /*padding: 10px; */
   
}
.geral a {
    color: white;
    text-decoration: none;
    
}

main {
    display: block;
}

.trailer {
    
    display: block;
}
.sumir {
    display: none;
}
.inicio {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}
.pos {
    background: #4B231C;
    width: 100%;
}

.inicio ul {
    /*display: none;*/
    visibility: hidden;
    flex-direction: column;
    gap: 1rem;
    
    background: whitesmoke;
    background: #021E36;
    width: 100%;
    height: 0vh;
    transition: 0.4s;
   
    padding: 10px 0;
    position: absolute;
    top: 64px;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.inicio ul.active {
    visibility: visible;
    /*display: flex;*/
    height: 100vh;
}
.inicio li {
    border-bottom: 1px solid black;
    padding: 3vh;
    align-items: center;
    font-size: 5vh;
    padding-left: 5vh;
}


.menu-toggle {
    width: 50px;
    height: 50px;
    position: relative;
    background: #A24D46;
    cursor: pointer;
    display: block;
    border-radius: 500px;
}
.menu-A {
    width: 100%;
    height: 100%;
    object-fit: contain;   
    position: absolute;
    
}
.close-A {
    width: 0%;
    height: 100%;
    object-fit: contain;
    
}

.menu-B {
    width: 0%;
   
}
.close-B{
   width: 100%;
  
}


.login {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.login-c {
  /* outline: 1px solid purple; */
   
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    
    display: block;
}
.login-c a {
    color: rgb(192, 192, 232);
    font-size: 5vh;
}
.login-c1 {
    width: 20px;
    transform: translateY(2px);
  }




.masashi, .descricao  {
    display: none;
}

.masashi-c, .descricao-c{
    display: block;
    color: white;
}

.descricao-c {
    opacity: 0;
}
.descricao-c-pos {
    opacity: 1;
}



 /*Fim da Nav*/



    .mini-logo {
        display: none;
/*
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 500px;
        background: #00223D;
        background: #266F97;
*/
    }
    .mini-logo-c {
        display: block;
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 500px;
        background: #00223D;
        background: #266F97;
        
    }
    .mini-logo-c-animacao {
        animation: rodar-c 2s infinite linear;
     }
     @keyframes rodar-c {
        to {
        transform: rotate(360deg);
        }
        from {
        transform: rotate(0deg);
        }
    
    }


    
    figure {
        position: relative;
        
    }
    .caixa {
        height: 30%;
        
    }
    
    .logo {
        display: none;
    }
    .logo-c {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 50%;
      
         
         height: 100%;
         object-fit: contain;
    }
   

    figcaption {
        width: 90%;
        height: 52%;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        
        margin: auto;
        padding: 1vh;
    }
    figcaption p {
        color: wheat;
        font-size: 3vh;
        width: 100%;
        
        margin: auto;
        text-align:left;
        
    }
 
    .main1 {
      
        height: 100%;
        width: 100%;
        bottom: 0%;
      
    }

    .foto {
        display: none;
    }
    .fotoV {
        display: none;
      
    }
    
    .foto1 {
        display: block;
        width: 0%;
        height: 43%;
        margin: auto;
        right: 0%;
        top: 0%;
        margin-top: 1vh;
        object-fit: cover;
        object-position: 50%;
        transition-duration: 1s;
        opacity: 0;
        visibility: visible;
       
    }
    .opacity1 {
        opacity: 1;
        width: 100%;
        transition: 1.3s;
    }
  
    .fotoV1 {
        display: block;
        width: 0%;
        height: 43%;
        margin: auto;
        right: 0%;
        top: 0%;
        margin-top: 1vh;
        object-fit: cover;
        object-position: 50%;
        transition-duration: 1s;
        position: absolute;
        visibility: visible;
    }
   

    h2 {
       
        font-size: 5vh;
        

    }

}

@media (max-width: 425px) {
    
    main {
      height: 124vh;
    }

}


/*

@media (max-width: 740px) { 
    figcaption p {
        color: wheat;
        font-size: 2vh;
        text-align: center;
    }
      
        h1 {
            font-size: 3vh;
            transform: translateY(0%);
        }
        figcaption {
            width: 50%;
            height: 81%;
          outline: 1px solid wheat;
        }   
        figcaption p {
            font-size: 90%;
        }
        
        
}


@media (max-width: 412px) {
    
    

      main {
        height: 90vh;
      }
}



@media (max-width: 320px) { 
    
    h1 {
    font-size: 2.5vh;
    }

}

*/
