* {
    padding: 0;
    margin: 0;
}

.caixa-da-foto {
    outline: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.869);
  }
  
  .container {
    margin-top: 1vh;
 /*   max-width: 100%; */
   
    width: 100vh;
    height: 145vh;
 /* outline: 3px solid black;*/
  }
  
  .responsive-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
   
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .container {
        margin-top: 0vh;
     /*   max-width: 100%; */
       
        width: 100%;
      
        height: 70vh;
        
       
      }
     
    .responsive-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
    .primeiro {
        width: 100%;
        margin-top: 10vh;
        margin-bottom: 20vh;
     }

  }

